* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./assets/img/eng.jpg") no-repeat;
    background-size: 100%;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gear-img{
    background: none;
    margin-top: 100px;
    width: 250px;
    height: 250px;
}

.smallgear-img{
    margin-top: 100px;
    width: 150px;
    height: 150px;
}

.api-button{
    border: 2px solid black;
    background: darkred;
    border-radius: 0px;
    width: 200px;
    height: 60px;
    text-align: center;
    color: gold;
    font-family: 'Merriweather', serif;
    font-size: 40px;
}

.api-button:hover{
    opacity: 0.8;
}

.author{
    margin-top: 100px;
    text-align: center;
    color: gold;
    font-family: 'Merriweather', serif;
    font-size: 30px;
}

.author-text{
    text-align: center;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    max-width: 1440px;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}

.footer-data {
    display: flex;
    align-items: center;
}

.copyright {
    padding-right: 20px;
}

.github-username {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
}

.github-username:hover {
    color: #bdae82;
}

.rss-logo {
    width: 135px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/svg/rss.svg");
    transition: .3s;
}

.rss-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}